<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Metadata -->
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="title" content="{{ site.title }}">

    {% include meta.html %}

  </head>
  <body>
    <div class="wrapper">

      {% include navbar.html %}

      <div id="main" class="main">
        <div class="first home-3"><!-- Hero Section-->
          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <div class="hero-content wow fadeIn">
                  <div class="hero-content-inner">
                    <h4>Exclusively at Grand Bend Motorplex</h4>
                    <h1>Trackdays at Grand Bend Motorplex</h1>
                    <p>Were a premium trackday organizer that runs all our days at Grand Bend Motorplex. A welcoming, friendly atmosphere where you can connect and learn from other riders.</p>
                    <a class="btn-action" href="{{ site.registration }}">Register your 2020 trackday now!</a>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="hero-img loop-video">
                  <video class="embed-responsive drone-video" autoplay loop muted>
                    <source src="assets/video/turtle.webm" type="video/webm" />
                  </video>
                </div>
              </div>
            </div>

          <!--
            <div class="questions partners flex-out wow fadeIn">
              <p>Check out our partners below</p>
              <a href="https://www.carbonclass.ca/" target="_blank"><img class="partner-img" src="/assets/images/partners/cc.png"/></a>
              <a href="https://superbikedepot.com/track-day-tire-preorder" target="_blank"><img class="partner-img" src="/assets/images/partners/superbikedepot.png"/></a>
            </div>
          -->

            <div class="questions flex-out align-center wow fadeIn">
              <p>
              Any questions? Email us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>
              </p>
            </div>
          </div>

        </div><!-- Hero End -->

        <div id="what" class="what home-3"><!-- Hero Section-->
          <div class="container">
            <div class="flex-intro align-center wow fadeIn">
              <h2>A little about us</h2>
              <p>Hosting track days since 2018</p>
            </div>
            <div class="row">

              <div class="col-md-7">
                <div class="hero-img loop-video">
                  <video class="embed-responsive drone-video" autoplay loop muted>
                    <source src="assets/video/pit.webm" type="video/webm" />
                  </video>
                </div>
              </div>

              <div class="col-md-5">
                <div class="hero-content wow fadeIn">
                  <div class="hero-content-inner">
                    <p>
                    We are a trackday organizer founded in 2018 as a branch of our street riding group: KW Sport Riding. 
                    <br><br>
                    Our group is centered around building relationships within the community and continually improving our riding skills. We had a successful 7 days last season and received tons of positive feedback! For the 2020 season, we are hosting 10 track days at GBM. The facility along with their staff provides some of the best track riding in Southern Ontario!

                    </p>
                    <p>
                    We strive to provide a positive, welcoming atmosphere and a strong sense of community with each track day we host.
                    </p>
                  </div>
                </div>
              </div>


            </div>

          </div>
        </div><!-- Hero End -->

        <div id="date" class="home home-3"><!-- Hero Section-->
          <div class="container">
            <div class="flex-intro align-center wow fadeIn">
              <h2>What you get from every KSR trackday</h2>
              <p>Were proud to give you one of the best trackday experiences ever</p>
            </div>
            <div class="row">

              <div class="col-md-6">
                <div class="hero-content wow fadeIn">
                  <div class="hero-content-inner">
                    <h4>What you get</h4>
                    <p>
                    • Safe and structured riding in multiple group levels
                    <br>
                    • Ran by staff comprised of experienced club-racers (SOAR) and track day riders who are passionate about the sport
                    <br>
                    • Paved well-maintained track environment without hazards, limitations or distractions you'll typically find on the street
                    <br>
                    • BBQ Lunch
                    <br>
                    • Refreshments
                    <br>
                    • Professional photographs from an on-site photographer
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="hero-img">
                  <img class="img-fluid" src="assets/images/drew.jpg">
                </div>
              </div>


            </div>

          </div>
        </div><!-- Hero End -->

      </div>


      {% include footer.html %}

    </div> <!-- Main -->


    <!-- Jquery and Js Plugins -->
    <script src="assets/js/jquery-2.1.1.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/menu.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
      $('.navbar-nav>li>a').on('click', function(){

        $('.navbar-collapse').collapse('hide');

      });
    </script>
  </body>
</html>
