<!DOCTYPE html>
<html>

  {% include head.html %}

  <!-- CSS -->
  <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet" type="text/css">
  <link href="{{ site.baseurl }}/css/hljs-github.min.css" rel="stylesheet" type="text/css">

  <body>
  <header>
    <!--
    <div>
    <a class="logo" href="/">
      <img class="parcel" src="{{ site.baseurl }}/img/logo.png" height="30"alt="">
    </a>
    </div>
    -->
    <div class="links">
      {% for item in site.data.menu.other_links %}
          <a href="{{ item[1] }}">{{ item[0] }}</a></li>
      {% endfor %}
      <a href="{{ site.facebook }}" class="bold" target="_blank">Facebook</a> 
      <a href="{{ site.registration }}" class="bold" target="_blank">Registration</a>
    </div>
  </header>
    <div class="content">
      <div id="hero">
        <div class="inner">
          <img class="hero-logo" src="img/logo.png" style="" title="">
            <h2>
              {{ site.project_name }}
            </h2>
        </div>
        <div class="features">
          <p><a class="button" href="{{ site.facebook }}">Join us on Facebook!</a> <a class="button white" href="{{ site.registration }}" target="_blank">Book your next track day!
            </a></p>
        </div>
          <br>
          <div class="inner icons"></div>
      </div>
    </div>
    <main>
      <section>
        {{ content }}
      </section>
    </main>
    <footer>
      <a class="button" href="{{ site.registration }}">Book your next track day!</a>
      <div class="content">
        <nav>
          <h3>Information</h3>
          <div>
            <ul>
            {% for item in site.data.menu.other_links %}
                <li><a href="{{ item[1] | prepend: site.baseurl }}">{{ item[0] }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </nav>
        <nav>
          <h3>Links</h3>
          <ul>
          {% for item in site.data.menu.footer %}
              <li><a href="{{ item[1] }}">{{ item[0] }}</a></li>
          {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="copyright">
        <img src="{{ site.baseurl }}/img/logo.png" class="redhat-logo"></img>
        <p>
        {{ site.copyright }}
        </p>
      </div>
    </footer>
    <div></div>
  </body>

  <!-- ICONS -->
  <script src="{{ site.baseurl }}/js/icons.js"></script>
</html>
